:root {
  --primary-color: #52007A;
  --primary-color-hover: #52007A;
  --primary-color-active: #42007A;

  --secondary-color: #262A2D;
  --secondary-color-active: #363A3D;

  --primary-background: #00111C;
  --secondary-background: #202427;

  --border-color: #333;
  --border-color-focus: #999;
}