.directory_list {
  width: 100%;
  display: flex;
  padding-left: 0px;
  user-select: none;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

  .sentence {
    color: #999;
    font-size: 18px;
  }
}